@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #f7c600;
  --light-color: #ffffff;
  --light-hover-color: #f7c600;
  --dark-color: #1b1b1b;
  --dark-hover-color: #ffffff;
  --grey: #dfdfdf;
  --light-grey: #ececec;
  --border-grey: #a6a6a6;
  --border-grey-dark: #1b1b1b59;
  --grey-text: #5b5b5b;
}

@layer base {
  html,
  body {
    font-size: 62.5%;
    scroll-behavior: smooth;
    cursor: none;
  }

  body {
    color: var(--dark-color);
    background: var(--grey);
  }

  a {
    cursor: none;
  }
}

@layer components {
  .mobile-link {
    @apply relative block text-[1.7rem] font-[700] leading-[2.2rem] -tracking-[0.017rem] text-dark-color;
  }

  .mobile-link span {
    @apply bg-[length:0_1px] hover:bg-[length:100%_1px] inline-flex items-center bg-[0_100%] bg-no-repeat bg-gradient-to-r from-dark-color to-dark-color transition-[background-size] duration-[.4s] ease-[cubic-bezier(.22,.61,.36,1)];
  }

  .mobile-sub-link {
    @apply pt-[.2rem] pb-[.3rem] relative flex whitespace-normal overflow-hidden transition-[padding] duration-[.2s] ease-out text-[1.7rem] font-[700] leading-[2.2rem] -tracking-[0.017rem] text-dark-color;
  }

  .mobile-sub-link span {
    @apply bg-[length:0_1px] hover:bg-[length:100%_1px] inline-flex items-center bg-[0_100%] capitalize bg-no-repeat bg-gradient-to-r from-dark-color to-dark-color transition-[background-size] duration-[.4s] ease-[cubic-bezier(.22,.61,.36,1)];
  }

  .bg-transition {
    @apply bg-[length:0_1px] hover:bg-[length:100%_1px] inline-flex items-center bg-[0_100%] bg-no-repeat bg-gradient-to-r from-dark-color to-dark-color transition-[background-size] duration-[.4s] ease-[cubic-bezier(.22,.61,.36,1)];
  }

  .text-transition {
    @apply bg-[length:0_1px] hover:bg-[length:100%_1px] inline-flex items-center bg-[0_100%] bg-no-repeat transition-[background-size] duration-[.4s] ease-[cubic-bezier(.22,.61,.36,1)];
  }

  .container-transition {
    background: rgba(0, 0, 0, 0.4);
    transition: "all .3s,border .3s,border-radius .3s,box-shadow .3s,transform .4s";
  }

  .clip-img {
    clip-path: circle(40% at 43% 50%);
    -webkit-clip-path: circle(40% at 43% 50%);
    transition: -webkit-clip-path 0.6s cubic-bezier(0.57, 0.57, 0, 0.97);
    transition: clip-path 0.6s cubic-bezier(0.57, 0.57, 0, 0.97);
  }

  .clip-img.active {
    clip-path: circle(50% at 50% 50%);
  }

  .hover-logo {
    position: relative;
    width: auto;
    clip-path: inset(0 100% 0 0);
    -webkit-clip-path: inset(0 100% 0 0);
    transition: -webkit-clip-path 0.6s cubic-bezier(0.57, 0.57, 0, 0.97);
    transition: clip-path 0.6s cubic-bezier(0.57, 0.57, 0, 0.97);
    z-index: 1;
  }

  .hover-logo.remove {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
    z-index: 2;
  }

  .inner::before {
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: #1b1b1b59;
  }

  .header-transition {
    position: relative;
    text-decoration: none;
    display: inline-block;
  }

  .header-transition::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s;
  }

  .header-transition.active::before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
  }

  .header-transition:hover::before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
  }

  .header-down {
    border-top: 1px solid transparent;
    display: block;
    height: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: auto;
    z-index: 10;
  }

  .header-down.active {
    opacity: 1;
    height: auto;
    overflow: visible;
    visibility: visible;
    transition: opacity 0.2s ease-out;
    z-index: 20;
  }

  .track::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 1px;
    height: 75%;
    background: var(--dark-color);
  }

  .side-area {
    background-color: #1b1b1b;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    /*padding: 148px 70px 35px 80px;*/
    position: fixed;
    right: -500px;
    top: 0;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    visibility: hidden;
    z-index: 9999;
    width: 500px;
  }

  .side-area.active {
    right: 0;
    visibility: visible;
  }

  .bullets::before {
    content: "";
    position: absolute;
    background-color: #1b1b1b;
    top: 0;
    display: block;
    height: 1px;
    width: calc(100vw - 266px);
    transition: opacity 0.2s ease-out;
    left: 50%;
    transform: translate(-55%);
  }

  .bullet::before {
    left: -1px;
  }

  .bullet::after {
    right: 0;
  }

  .bullet::before,
  .bullet::after {
    content: "";
    position: absolute;
    background-color: var(--dark-color);
    top: 0;
    display: inline;
    height: calc(75% + 1px);
    width: 1px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
  }

  .bullet.selected::before,
  .bullet.selected::after {
    transform: scaleY(1);
  }

  .bullet:hover::before,
  .bullet:hover::after {
    transform: scaleY(1);
  }

  .slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .m-text::after {
    background-color: #a6a6a6;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100vw;
  }

  /*Animation for the hero section text */
  .scale-text-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  /*for the hamburger icon */
  .m-icon::before {
    content: "";
    position: absolute;
    background: var(--main-color);
    width: 150%;
    height: 0;
    padding-bottom: 150%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.1, 0, 0.3, 1), opacity 0.3s;
  }

  .m-icon:hover.open::before {
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    opacity: 1;
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1), opacity 0.3s;
  }

  .m-icon:hover.dark {
    color: var(--dark-color);
  }

  .m-icon:hover.light {
    color: #fff;
  }

  /*    Back to top */
  .back-to-top-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease, visibility 0s 0.15s;
  }

  .back-to-top-on {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
  }

  /* Custom Cursor */
  :not(.touchevents).custom-cursor--enabled {
    cursor: none !important;
  }

  :not(.touchevents).custom-cursor--enabled #custom-cursor {
    visibility: visible;
    opacity: 1;
  }

  #custom-cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    pointer-events: none;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    /* visibility: hidden;
    opacity: 0; */
    color: #1b1b1b;
    transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
  }

  #custom-cursor .cursor-dot {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 1;
  }

  #custom-cursor .cursor-svg-holder,
  #custom-cursor .cursor-text-holder {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
  }

  #custom-cursor .cursor-svg-holder > *,
  #custom-cursor .cursor-text-holder > * {
    position: absolute;
  }
  #custom-cursor .cursor-close-svg,
  #custom-cursor .cursor-link-svg,
  #custom-cursor .cursor-video-button-svg {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  #custom-cursor.cursor--close-svg .cursor-close-svg {
    opacity: 1;
    transition: opacity 0.3s ease 0.2s;
  }

  #custom-cursor.cursor--link-svg .cursor-link-svg {
    opacity: 1;
    transition: opacity 0.3s ease 0.2s;
  }

  #custom-cursor.cursor--hide {
    visibility: hidden !important;
    opacity: 0 !important;
  }

  #custom-cursor.cursor--change-color .cursor-dot {
    background-color: #000;
  }

  #custom-cursor.cursor--revert-color .cursor-dot {
    background-color: var(--main-color);
  }

  #custom-cursor.cursor--video-button .cursor-video-button-svg {
    opacity: 1;
    transition: opacity 0.3s ease 0.2s;
  }

  #custom-cursor.cursor--text .cursor-discover-text {
    opacity: 1;
    transition: opacity 0.3s ease 0.2s;
  }

  #custom-cursor .cursor-discover-text {
    opacity: 0;
    color: currentColor;
    font-size: 15px;
    letter-spacing: -0.01em;
    font-weight: 700;
    text-transform: capitalize;
  }
}

/*@layer utilities {*/
/*}*/
